
* {
    -fx-dark : #2b2b2b;
    -fx-dark2 : #313335;
    -fx-dark3 : #3c3f41;
    -fx-gray : #c9c9c9;
    -fx-blue : #3f92b0;
}

#background{

    -fx-background-color: -fx-dark3;
}

#button{
    -fx-text-fill: -fx-gray;
    -fx-background-color: -fx-dark3;
    -fx-border-color: -fx-dark2;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-font-size: 10pt;
}

#button:hover{
    -fx-border-color: -fx-blue;
    -fx-background-color: -fx-blue;
    -fx-text-fill: -fx-gray;
}

#text-field
{
    -fx-text-fill: -fx-gray;
    -fx-font-size : 10pt;
    -jfx-focus-color: -fx-blue ;
    -fx-text-fill: derive(-fx-gray, 20%);
}
